<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h3>Manage your todo list</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <div class="btn-group mb-3" role="group">
        <button type="button" class="btn btn-primary" (click)="onAddTodo()">Add</button>
        <button type="button" class="btn btn-warning" (click)="onRemoveLastTodo()" placement="bottom" ngbTooltip="Remove the last todo">Remove</button>
        <button type="button" class="btn btn-danger" (click)="onClearTodos()" placement="bottom" ngbTooltip="Remove all of the todos">Clear</button>
        <button type="button" class="btn btn-success" (click)="onSaveTodos()" placement="bottom" ngbTooltip="Save todos">Save</button>
      </div>
    </div>
  </div>
  <div class="row mb-3" *ngIf="isAdding">
    <div class="col-md-5">
      <div class="form-group">
        <label>{{newTodoLabel}}</label>
        <input type="text" class="form-control" [(ngModel)]="newTodoName" (keyup.enter)="onAddTodo()">
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <label>Deadline</label>
        <div class="input-group">
          <input class="form-control" placeholder="yyyy-mm-dd"
                 name="dp" [(ngModel)]="newTodoDeadline" ngbDatepicker #d="ngbDatepicker">
          <div class="input-group-append">
            <button class="btn btn-secondary" (click)="d.toggle()" type="button"><fa-icon [icon]="faCalendarAlt"></fa-icon></button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-9">
      <ul class="list-group">
        <app-todo *ngFor="let todo of todos" [todos]="todos" [todo]="todo"></app-todo>
      </ul>
    </div>
  </div>
</div>

<ng-template appConfirm>
  <app-confirm-modal-component></app-confirm-modal-component>
</ng-template>
